root = true

[*]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.cs]
csharp_prefer_simple_using_statement = false:suggestion

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false


dotnet_style_require_accessibility_modifiers = omit_if_default:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = false:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning
csharp_style_implicit_object_creation_when_type_is_apparent = false;

dotnet_naming_rule.private_members_with_underscore.symbols = private_fields
dotnet_naming_rule.private_members_with_underscore.style = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

dotnet_naming_rule.constants_pascal_case.symbols = private_consts
dotnet_naming_rule.constants_pascal_case.style = pascal_case_consts
dotnet_naming_rule.constants_pascal_case.severity = suggestion
dotnet_naming_symbols.private_consts.required_modifiers = const
dotnet_naming_style.pascal_case_consts.capitalization = pascal_case

dotnet_naming_rule.static_readonly_pascal_case.symbols = private_static_readonly
dotnet_naming_rule.static_readonly_pascal_case.style = pascal_case_static_readonly
dotnet_naming_rule.static_readonly_pascal_case.severity = suggestion
dotnet_naming_symbols.private_static_readonly.required_modifiers = static, readonly
dotnet_naming_style.pascal_case_static_readonly.capitalization = pascal_case